body,#graph-container {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	margin: 0px;
}

.graph-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.graph-selection-indicator {
	position: absolute;
	background: transparent;
	border: 1px solid orange;
}